{% extends "base.html" %}

{% block title %}Про сайт{% endblock %}

{% block content %}
<section class="about-section">

    <h2>Про сайт</h2>

    <p>
        Цей веб-сайт створений у межах лабораторної роботи №5 та демонструє базові можливості фреймворка Flask.
        Проєкт реалізує багатосторінкову структуру, роботу з маршрутами, шаблонами та статичними файлами.
    </p>

    <p>
        Тематикою сайту обрано книги, оскільки ця тема дозволяє зручно продемонструвати відображення контенту,
        карток елементів та просту взаємодію з користувачем.
    </p>

    <p>Сайт складається з таких розділів:</p>

    <ul>
        <li><strong>Головна</strong> — вступна сторінка з короткою інформацією.</li>
        <li><strong>Про сайт</strong> — опис структури та призначення проєкту.</li>
        <li><strong>Книги</strong> — сторінка з переліком книжок, їх описами та зображеннями.</li>
    </ul>


</section>
{% endblock %}
